/* Importo letras para css desde google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
357dc0
daf1fa
254a87
fbf0ed
f6cbe6
 */

/* Creación de variables como colores y familia de letras */
:root {
    --color-primario: #FFFFFF;
    --color-celeste: #daf1fa;
    --color-azul: #357DC0;
    --color-azul-hover: #2264a1;
    --color-gris-claro: #dadada;
    --color-negro: #1b1b1b;
    --texto: 'Lato', sans-serif;
}

body{
    font-family: var(--texto);
}

.navbar-contenedor {
  width: 100%;
  height: 100px;
  background-color: var(--color-celeste);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-logo {
  width: 100px;
  height: 100px;
}

.navbar-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.navbar-links > a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #0c0c0c;
}

.navbar-links > a:hover {
  border-bottom: solid 2px #357dc0;
}

.navbar-sesion {
  width: 150px;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-login {
  width: 100%;
  height: 50px;
  background-color: var(--color-azul);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
}

.navbar-login:hover{
    background-color: var(--color-azul-hover);
    cursor: pointer;
}

.navbar-signup {
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  color: #1a4c7a;
  font-size: 18px;
}

.navbar-signup:hover {
  border-bottom: solid 2px var(--color-azul-hover);
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 909px) {
  .navbar-contenedor {
    flex-direction: column;
    height: auto;
  }

  .navbar-links {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .navbar-links > a {
    font-size: 1.3rem;
    margin: 10px 0;
  }

  .navbar-sesion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .navbar-login {
    width: 50%;
    font-size: 1.1rem;
    margin-right: 10px;
  }

  .navbar-signup {
    margin: 10px 0 20px 0;
    font-size: 1.2rem;
  }

  .navbar-hamburguesa {
    display: block;
  }

  .navbar-hamburguesa--open {
    display: block;
  }

  .navbar-links,
  .navbar-logo {
    display: none;
  }

  .navbar-links--open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Ocultar el botón hamburguesa en dispositivos de escritorio */
@media screen and (min-width: 910px) {
  .navbar-hamburguesa {
    display: none;
  }
}
